*, *::before, *::after {
  box-sizing: border-box
}
h1 {
    background-color: rgb(0, 64, 3);
    text-align: left;
    font-size: 1em;
    color: white;
    font-family: "lucida calligraphy";
    vertical-align: middle;
    padding: 1.5%;
    width: 100vw;
    margin: 0;
  }
  h2 {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.236);
    width: 100vw;
    height: auto;
    font-size: 1.3em;
    padding: 2.23vw;
    margin: 0;
  }
  section {
    text-align: left;
    background-color: rgb(0, 90, 5);
    width: 100vw;
    height: auto;
    font-size: 1.5vw;
    padding: 1em 4em;
    margin: 0;
  }

  img {
    align-items: center;
    margin: 5vw auto;
    width: 60vw;
  }
  .image-container {
    width: 100vw;
    background-color: rgb(0, 90, 5);
    display: flex;
  }

  h3 {
    margin-left: 50px;
    width: 7.4em;
    border-radius: 25px;
    background-color: rgb(99, 96, 96);
    padding: 1.3%;
    font-size: 1em;
    }

    ol, p {
    padding-right: 2em;
    }
  

    body {
      margin: 0px;
      border: 0px;
      font-size: xx-large;
      font-family: "calibri";
      color: white;
      /* borrowed from w3schools: https://www.w3schools.com/html/html_images_background.asp*/
      /* Jeff picture borrowed from studio 3 */
      background-image: url(assets/jeff.jpg);
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      background-position: center center; 
      
      }

  #personas {
    padding-left: 0px;
  }
  .gallery-container {
    /* borrowed from mdn web docs guide: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout/Aligning_Items_in_a_Flex_Container */
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .gallery-item {
    border-radius: 25px;
    border: 7px solid black;
  }
